[access]
	inheritFrom = All-Projects
[project]
	description = This FrankenROM Device tree
[access "refs/*"]
	owner = group user/Syed Sajid (Sajidjnl)
[access "refs/for/refs/*"]
	read = group user/Syed Sajid (Sajidjnl)
	push = group user/Syed Sajid (Sajidjnl)
	label-Code-Review = -2..+2 group user/Syed Sajid (Sajidjnl)
	label-Verified = -1..+1 group user/Syed Sajid (Sajidjnl)
	rebase = group user/Syed Sajid (Sajidjnl)
	removeReviewer = group user/Syed Sajid (Sajidjnl)
	submit = group user/Syed Sajid (Sajidjnl)
[access "refs/heads/*"]
	read = group user/Syed Sajid (Sajidjnl)
	create = group user/Syed Sajid (Sajidjnl)
	push = +force group user/Syed Sajid (Sajidjnl)
	pushMerge = group user/Syed Sajid (Sajidjnl)
[access "refs/tags/*"]
	push = group user/Syed Sajid (Sajidjnl)
	push = +force group user/Syed Sajid (Sajidjnl)
